:root {
--primary-color: #B8FFF9;
--secondary-color:#EFFFFD;
--third-color: #85F4FF;
--box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
--border-radius: 15px;
}



body {
    text-align: center;
    font-family:'Noto Serif', serif;
}

h1 {
    font-size: 75px;
    font-style: italic;
}
h2 {
    font-family: 'Ramaraja', serif;
    font-size: 75px;
}
.nav-item {
    padding: 0 15px;
  }

.navigation {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.introduction {
    padding: 40px 10px 0px;
    background: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.social-icons a {
    text-decoration: none;
    color: #aaaaaa;
    font-size: 40px;
    margin-top: 40px;
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav"
        "div";
    }
    .navbar navbar {
        max-width: 100%;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
       
}