body {
    text-align: center;
    font-family:'Noto Serif', serif;
}

h1 {
    font-size: 4rem;
    font-style: italic;
}
h2 {
    font-family: 'Ramaraja', serif;
    font-size: 6rem;

}
.navigation {
    display: flex;
    justify-content: center
}
img.logo {
    width: 100px;
}

a.contact {
    font-size: 18px;
    background-color:#34B2BA;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    
}
